<div class="md-padding">
  <md-toolbar class="header md-padding">
    <h2>About</h2>
  </md-toolbar>
</div>

<div class="md-padding">
  <div class="textcontainer">
    <div class = "highlight">
      <p>Explore where you stand, stay up to date with views from all sides, and live your values. <a href="/welcome">Get started.</a> Need more answers? Try our <a href="/faq">FAQ</a>.
      </p>
      </br>
    </div>
  </div>
</div>

<div class="md-padding">
  <h2>Who we are</h2>
</div>

<div class="md-padding">
  <div class="textcontainer">
    <p>Our team: 
    <ul>
      <li>Founder & CEO: 
        <a href="https://twitter.com/MariamCook">Mariam Cook
        </a>
      </li>
      <li>Co-Founder & CTO: David Roberts
      </li>
    </ul>
    </p><p>Supported by:   
    <ul>
      <li>Social Analytics Adviser: Tom Quick, Founder, Smesh</li>
      <li>Mobile Experience Adviser: Yiannis Maglaras, Founder, Ubinow</li>
      <li>Online Action Adviser: Warren Puckett, Co-Founder, 38 Degrees</li>
      <li>Corporate Engagement Adviser: Maxine Benson, Co-Founder, Everywoman</li>
      <li>Commercial Adviser: Andy Rivett-Carnec, Digital Partner, Brunswick<br></li>
      <li>Information & Society adviser: Ellen Helsper, Director of Graduate Studies &amp; Associate Professor, Media &amp; Communications at LSE</li>
    </ul>
    </br>
    <p>Previous team members who helped get us here:</p>
    <ul>
      <li>Krishan Kuruppu, Research Assistant</li>
      <li>Jessica Di Paolo, Social media manager & researcher</li>
      <li>Jenna Hardwick, Research Assistant</li>
      <li>Einar Gunnarsson, Research Assistant</li>
      <li>Aleyshia Jones, Research Assistant</li>
      <li>Auwais Khan, Web developer</li>
      <li>Daniel Lajda, Research Assistant</li>
      <li>James Drew, Political Research Assistant</li>
      <li>Anna-Marie Descartes, Political Research Assistant</li>
      <li>Evelin Gerasimova, Political Research Assistant</li>
      <li>Marie Nikolova, Research & Marketing Assistant</li>
      <li>Azhar Hussain, Political Research Assistant</li>
      <li>Freddie Derbyshire, Content and Marketing Assistant</li>
      <li>Fuqiang Ciao, Apprentice Growth Hacker</li>
    </ul>
    </br>
    <p>Work for us: We are keen to hear from anyone who wants to help PositionDial build a new way of informing and empowering people across the UK and the world. Please email info @ positiondial.com if you would like to chat about working with us.</p>
  </div>
</div>

<div class="md-padding">
  <h2>How PositionDial is funded</h2>
</div>

<div class="md-padding">
  <div class="textcontainer">
    <p>
    	PositionDial is free to use. We have received funding from <a
    		href="http://bethnalgreenventures.com/2015/06/18/announcing-our-summer-2015-cohort/"
    		target="_blank">Bethnal Green Ventures</a> and Innovate UK. We also have affiliate links, which are marked with a * - if you click
    on these links to another website this helps support PositionDial.
    </p>
  </div>
</div>

</br>

<div class="md-padding">
  <h2>Contact us</h2>
</div>

<div class="md-padding">
  <div class="textcontainer">
    <p>
      We are always keen to hear your questions and feedback. You can email us at info @ positiondial.com or tweet us
      <a href="https://twitter.com/positiondial">@PositionDial</a>.&nbsp;
    </p>
  </div>
</div>



