<md-bottom-sheet md-theme="pd" class="md-padding">
	<md-card style="max-width:800px; margin:auto" class="md-padding">
		<md-toolbar class="header" style="margin:auto">
			<h3>See different sides on this issue</h3>
		</md-toolbar>

	    <md-card-content>
	      <div>Explore articles, blog posts and video from across the spectrum: left, right and beyond. Filter to choose different topics from the menu or filter icon. If you are on mobile scroll right and left to go out to the edges.</br></br></div>
		  <pd-img src="ClickAxis.png" style="width:40%;margin:auto" needed-ratio="0.4" natural-width="621" natural-height="113"></pd-img>
		  </br>
		  <div>Click / tap on a Position axis to reveal more articles underneath.</br></br></div>
	    </md-card-content>      
	</md-card>
</md-bottom-sheet>	

