<md-dialog>
<md-content md-theme="pd" style="background-color:#fff; overflow:none; min-height: 260px; width:260px; padding-bottom:8px" class="outside-border">
		<div class="pull-right"><i class="fa fa-times" style="font-size:26px; cursor:pointer; padding-right:4px" ng-click="closemodal()"></i></div>
    	<h2>You've got a badge!</h2>
		<div layout layout-align="center center" style="min-height:200px" class="md-padding">
    		<pd-badge badge="badge"></pd-badge>
    	</div>
</md-content>
</md-dialog>
