
<md-bottom-sheet md-theme="pd" class="md-padding">
	<md-card style="max-width:800px; margin:auto" class="md-padding">
  	<md-toolbar class="header" style="margin:auto">
  		<h3>Brand matching</h3>
  	</md-toolbar>
    <md-card-content>
        <div>
        <p>
        Your product and brand matches help you live in line with your values every day. Save <a href="/yourpositiondial">your PositionDial</a> and check back every time you go shopping.</p>
        <p>
        A brand's PositionDial is based on its activities, work practices and supply chain. It summarizes publicly available data and independent rankings curated by our team on matters ranging from animal welfare and workers' conditions to environmental impact and use of chemicals. We are adding to brand position data all the time - if you would like to suggest information, rankings or a new brand for us to include please get in touch. 
        </p>
        </div>
    </md-card-content>      
	</md-card>
</md-bottom-sheet>	

