
	<img style="width:100%;padding:10px 10px 6px 4px" ng-src="{{data.client.imageurl}}"/>
	<div style="padding:10px" ng-show="!afterhours">
		<a href="https://docs.google.com/a/positiondial.com/forms/d/1hY7BfI2TT37B_HqUCF5KR9NahLxv04FNHbzZhTA_D6w/edit?usp=sharing" target="_top">
		<b>Hello!</b><br/> 
		Please take Fikay's<br/> 
		super-quick welcome survey
		</a>
	</div>
	<div style="padding:10px" ng-show="afterhours" >
		<a href="https://docs.google.com/a/positiondial.com/forms/d/1nkPPmNRJZLiXLRR1FiN1R5iSa5OnpoUuS1qA0r_kE-k/edit?usp=sharing" target="_top">
		<b>Thanks for coming!</b><br/> 
		Please take Fikay's farewell<br/>  
		survey & help out the team!</a>	
	</div>
	