<div layout="row" layout-sm="column" layout-md="column" class="md-padding">
  <div flex-gt-sm="33" layout layout-fill>
   <md-card flex style="min-height:100%"> 
   	 <md-button style="min-height:100%;min-width:100%" class="md-padding" href="/selectpositiondial">
	     <h2>Get your PositionDial</h2>
    	 <pd-img src="dialb.png" style="width:60%;margin:auto" needed-ratio="0.6" natural-width="1871" natural-height="1300"></pd-img>  
     	 <p>See where you stand</p>
   	 </md-button>
   </md-card>
  </div>
  <div flex-gt-sm="33" layout layout-fill>
   <md-card flex style="min-height:100%"> 
   	 <md-button style="min-height:100%;min-width:100%" class="md-padding" href="/antibod/-1/all-topics/-1/-">
	     <h2>Your antibod</h2>
    	 <pd-img src="antibod.png" style="width:60%;margin:auto" needed-ratio="0.6" natural-width="512" natural-height="512"></pd-img>  
     	 <p>Challenge yourself with opposing views</p>
   	 </md-button>
   </md-card>
  </div>
  
  <div flex-gt-sm="33" layout layout-fill>
   <md-card flex style="min-height:100%"> 
   	 <md-button style="min-height:100%;min-width:100%" class="md-padding" href="/progress/-1/all-topics/-1/-">
	     <h2>Progress</h2>
   	     <pd-img src="chartg.png" style="width:60%;margin:auto" needed-ratio="0.6" natural-width="246" natural-height="246"></pd-img>  
     	 <p>Track your reading & responses</p>
   	 </md-button>
   </md-card>
  </div>
    
</div>