<md-dialog>
<md-content style="background-color:#fff;  min-height: 280px; min-width:280px; padding-bottom:8px" class="outside-border">
	<div class="pull-right"><i class="fa fa-times" style="font-size:26px; cursor:pointer; padding-right:4px" ng-click="closemodal()"></i></div>
    <div style="overflow:none; padding-bottom: 16px">
        <h2>You posted to facebook!</h2>
    </div>
	<md-card>
		<md-button ng-click="gonewtab(url)">
			<img src="/img/webicon-facebook.svg" style="max-width:100px;max-height:100px"/>
		</md-button>
		<md-card-content>
			Thanks for posting!
		</md-card-content>
	</md-card>
</md-content>
</md-dialog>
