 
<div style="padding-top: 16px; width:90%; position:relative; left:5%">
	<nav class="footer-menu center-block" style="text-align:center; color:#fff">
		| <a class="footer-menu-link" style="cursor: pointer;" href="/about">About</a> 
		| <a class="footer-menu-link" style="cursor: pointer;" href="/welcome">Welcome to PositionDial</a> 
		| <a class="footer-menu-link" style="cursor: pointer;" href="/faq">FAQ</a>
		| <a class="footer-menu-link" style="cursor: pointer;" href="/privacyandterms">Terms &amp; Privacy</a>
		| <a class="footer-menu-link" style="cursor: pointer;" href="http://blog.positiondial.com">Blog</a>
		| <i class="fa fa-twitter"></i> <a class="footer-menu-link" style="cursor: pointer;" href="https://twitter.com/positiondial">Follow us on Twitter</a> 
		|
	</nav>
	<footer class="copy-right" style="text-align:center; color:#fff; padding-top:10px">
		Copyright &copy; 2015 <a href="/about" class="footer-menu-link">PositionDial
			Ltd.</a> All rights reserved
	</footer>
</div>
