<a class="header-left-menu-link" href="/welcome">Welcome</a> 
<span id="headergetyour"> | 
  <a class="header-left-menu-link" href="/yourpositiondial">Your PositionDial</a>&nbsp;| 
  <a class="header-left-menu-link" href="/progress">Your progress</a>&nbsp;| 
  <a class="header-left-menu-link" href="/media">Viewed articles</a>&nbsp;| 
  <a class="header-left-menu-link" href="/ifiwereinparliament">If <b>you
    </b> were in parliament</a>&nbsp;|
  <a class="header-left-menu-link" href="/matches">Your MP matches</a>&nbsp;| 
  <a class="header-left-menu-link" href="/profileaz">Find an MP</a>
   
</span>
